@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form-control {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-control:active,
.form-control:focus {
  border-color: #4e75ff; /* Колір рамки при активному стані */
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn:focus,
.btn:hover {
  background: #6c8cff;
}
.box {
  display: flex;
  justify-content: center;
  padding-top: 38px;
  align-items: center;
  margin-bottom: 32px;
}

.form {
  width: 534px;
  display: flex;
  gap: 8px;
}
img {
  display: block;
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}
#gallery {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  gap: 24px;
  justify-content: center;
}

.card {
  border: 1px solid #808080;
}

.options-name {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.value-description {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-container {
  margin-bottom: 8px;
}

.table {
  width: 360px;
}
